html{
  scroll-behavior: smooth;
}
body{
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color:#010101 
  
}


h1{
  font-size: 40px;
  text-align: center;
  color: #010101;
  padding: 40px;
}

h2{
  font-size: 30;
  text-align: left;
  color:#010101;
  padding: 30px;

}



p {
  font-size: 20px;
  padding: 10px;
  /*box-sizing: border-box;*/
  margin: 20px;
  text-align: left;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
}


div{
  width: auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

footer{
  background-color:#010101;
  color: #f8f8f8;
  text-align: center;
  padding: 20px;
  font-size: large;
}


/*div{
  min-height: 150px;
  padding: 30;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #575555;
  background-color: #eeeeee;
}

li {
  float: left;
}

li a {
  display: flex;
  color: #010101;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;

}

.active {
  background-color: #575555;
}

li a:hover {
  background-color: rgb(184, 163, 184);
}




/*footer p{
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #010101;
  color:#f8f8f8
  
}*/


.grid-container{
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-content: stretch;*/
}

.grid-container > img{
  margin: 15px;
  width: 250px;
}

@media screen and (min-width: 600px){
  p {
    font-size: 10px;
    padding: 5px;
    /*box-sizing: border-box;*/
    margin: 10px;
    text-align: left;
  }

  img{
    width: 100px;
  }

 
  

}
